<section class="container">
  <h2 class="m-0 text-center text-capitalize">{{ user.name }}</h2>
  <p class="text-muted text-center">{{ user.email }}</p>
  <div *ngIf="business.groupId; else elseBlock">
    <div class="d-flex mb-3">
      <mat-card class="w-100 mx-2" *ngFor="let business of businesses">
        <h2 class="text-center text-uppercase">{{ business.businessName }}</h2>
        <mat-action-list>
          <button type="button" class="m-1" mat-list-item *ngFor="let office of business.offices" (click)="onBusinessOfficeSelected(business, office)">
            <span class="spacer"></span>
            <div class="text-center">
              {{ office.name }}
              <br>
              <span class="text-muted">
                {{ office.activityName }}
              </span>
            </div>
            <span class="spacer"></span>
          </button>
        </mat-action-list>
      </mat-card>
    </div>
    <button type="submit" mat-raised-button color="primary" class="w-100" (click)="onLogout()">CERRAR SESION</button>
  </div>
  <ng-template #elseBlock>
    <div class="d-flex">
      <div class="spacer"></div>
      <div class="card-width">
        <mat-card class="mb-3">
          <h2 class="text-center text-uppercase">{{ business.businessName }}</h2>
          <mat-action-list>
            <button type="button" class="m-1" mat-list-item *ngFor="let office of offices" (click)="onOfficeSelected(office)">
              <span class="spacer"></span>
              <div class="text-center">
                {{ office.name }}
                <br>
                <span class="text-muted">
                  {{ office.activityName }}
                  <!-- {{ office.address }} -->
                </span>
              </div>
              <span class="spacer"></span>
            </button>
          </mat-action-list>
        </mat-card>
        <button type="submit" mat-raised-button color="primary" class="w-100" (click)="onLogout()">CERRAR SESION</button>
      </div>
      <div class="spacer"></div>
    </div>
  </ng-template>
</section>
