<section class="container">
    <mat-accordion>
        <mat-expansion-panel hideToggle *ngFor="let business of businesses" (opened)="onOpenPanel(business)">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{ business?.businessName | uppercase }}
                    <span class="spacer"></span>
                    @if (business.certificate) {
                    {{ expirationAt(business.certificate.expirationAt) }}
                    }
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-list role="list">
                <mat-list-item role="listitem">
                    <span matListItemTitle>Fecha de vencimiento</span>
                    <span>{{ business?.certificate.expirationAt | date }}</span>
                </mat-list-item>
                <mat-list-item role="listitem">
                    <span matListItemTitle>RUC</span>
                    <span>{{ business?.ruc }}</span>
                </mat-list-item>
                <mat-list-item role="listitem">
                    <span matListItemMeta class="my-3">
                        <a mat-icon-button
                            [href]="sanitizer.bypassSecurityTrustUrl('whatsapp://send?phone=+51' + business.mobileNumber + '&text=Buenas es necesario renovar su Certificado Digital, voy a nesecitar su Usuario y Clave sol')"
                            aria-label="Example icon button with a heart icon">
                            <mat-icon>chat</mat-icon>
                        </a>
                    </span>
                    <span matListItemTitle>Contacto</span>
                    <span><a [href]="'tel:' + business.mobileNumber" class="text-white pb-3">{{ business.formatContact }}</a></span>
                </mat-list-item>
                <mat-list-item>
                    <span matListItemTitle>Recaudacion mensual</span>
                    <span>{{ business?.monthlyIncome?.toLocaleString('en-US', { minimumFractionDigits: 0, maximumFractionDigits: 0 }) }}</span>
                </mat-list-item>
                <mat-list-item role="listitem">
                    <button type="button" disabled="true" mat-raised-button color="primary" class="w-100"
                        *ngIf="isLoading; else elseBlock">INGRESAR</button>
                    <ng-template #elseBlock>
                        <a [href]="'https://app.kramvi.com/login?email=' + user?.email + '&password=' + user?.password"
                            target="_blank" mat-raised-button color="primary" class="w-100">INGRESAR</a>
                    </ng-template>
                </mat-list-item>
            </mat-list>
        </mat-expansion-panel>
    </mat-accordion>
</section>
